//Cores do Projeto
:root {
    --color-white: #ffffff;
    --color-white2: #EDF3F5;
    --color-black: #000000;
    --color-black2:#262626;
    --color-brown: #452300;
    --color-yellow: #E1CC10;
    --color-yellow2: #FFE81F;
    --color-gray: #808080;
    --color-gray-1:#1f1f1f;
    --color-transparent: #00000000;
}